container_commands:
    01enable_epel:
        command: sudo amazon-linux-extras install epel
    02npm_install:
        command: sudo yum -y --enablerepo=epel install nodejs npm
    03_dev_server:
        command: npm run dev
    04_migrate:
        command: php artisan migrate:fresh
        leader_only: true