container_commands:
    01_migrate:
        command: php artisan migrate:fresh
        leader_only: true
    # 02_artisan_:
    #     command: php artisan config:cache
    # 03_artisan_:
    #     command: php artisan route:cache
    # 04_artisan_:    
    #     command: php artisan view:cache
    # 05_artisan_:
    #     command: php artisan event:cache